---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Exemple de view transition">
  <img src="/astro-banner.jpeg" />
  <p>Ceci est un example de post avec l'usage de View Transition</p>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
